KPIAgent/Web References/KPTransaction/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getDomesticSO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDomesticSOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDomesticSOResult" type="tns:KPTrans" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="KPTrans">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="respcode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="respmsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="respdata" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getDomesticPO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDomesticPOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDomesticPOResult" type="tns:KPTrans" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSOKPTN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SOkptn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastTransDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSOKPTNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSOKPTNResult" type="tns:KPTrans" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSOCancelKPTN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SOkptn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastTransDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSOCancelKPTNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSOCancelKPTNResult" type="tns:KPTrans" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPOKPTN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="POkptn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastTransDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPOKPTNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPOKPTNResult" type="tns:KPTrans" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPOcancelKPTN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="POcancelkptn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastTransDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPOcancelKPTNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPOcancelKPTNResult" type="tns:KPTrans" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkIfCanConnect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkIfCanConnectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkIfCanConnectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KPTrans" nillable="true" type="tns:KPTrans" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDomesticSOSoapIn">
    <wsdl:part name="parameters" element="tns:getDomesticSO" />
  </wsdl:message>
  <wsdl:message name="getDomesticSOSoapOut">
    <wsdl:part name="parameters" element="tns:getDomesticSOResponse" />
  </wsdl:message>
  <wsdl:message name="getDomesticPOSoapIn">
    <wsdl:part name="parameters" element="tns:getDomesticPO" />
  </wsdl:message>
  <wsdl:message name="getDomesticPOSoapOut">
    <wsdl:part name="parameters" element="tns:getDomesticPOResponse" />
  </wsdl:message>
  <wsdl:message name="getSOKPTNSoapIn">
    <wsdl:part name="parameters" element="tns:getSOKPTN" />
  </wsdl:message>
  <wsdl:message name="getSOKPTNSoapOut">
    <wsdl:part name="parameters" element="tns:getSOKPTNResponse" />
  </wsdl:message>
  <wsdl:message name="getSOCancelKPTNSoapIn">
    <wsdl:part name="parameters" element="tns:getSOCancelKPTN" />
  </wsdl:message>
  <wsdl:message name="getSOCancelKPTNSoapOut">
    <wsdl:part name="parameters" element="tns:getSOCancelKPTNResponse" />
  </wsdl:message>
  <wsdl:message name="getPOKPTNSoapIn">
    <wsdl:part name="parameters" element="tns:getPOKPTN" />
  </wsdl:message>
  <wsdl:message name="getPOKPTNSoapOut">
    <wsdl:part name="parameters" element="tns:getPOKPTNResponse" />
  </wsdl:message>
  <wsdl:message name="getPOcancelKPTNSoapIn">
    <wsdl:part name="parameters" element="tns:getPOcancelKPTN" />
  </wsdl:message>
  <wsdl:message name="getPOcancelKPTNSoapOut">
    <wsdl:part name="parameters" element="tns:getPOcancelKPTNResponse" />
  </wsdl:message>
  <wsdl:message name="checkIfCanConnectSoapIn">
    <wsdl:part name="parameters" element="tns:checkIfCanConnect" />
  </wsdl:message>
  <wsdl:message name="checkIfCanConnectSoapOut">
    <wsdl:part name="parameters" element="tns:checkIfCanConnectResponse" />
  </wsdl:message>
  <wsdl:message name="getDomesticSOHttpGetIn">
    <wsdl:part name="TransDate" type="s:string" />
    <wsdl:part name="BranchCode" type="s:string" />
    <wsdl:part name="SiteCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDomesticSOHttpGetOut">
    <wsdl:part name="Body" element="tns:KPTrans" />
  </wsdl:message>
  <wsdl:message name="getDomesticPOHttpGetIn">
    <wsdl:part name="TransDate" type="s:string" />
    <wsdl:part name="BranchCode" type="s:string" />
    <wsdl:part name="SiteCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDomesticPOHttpGetOut">
    <wsdl:part name="Body" element="tns:KPTrans" />
  </wsdl:message>
  <wsdl:message name="getSOKPTNHttpGetIn">
    <wsdl:part name="Type" type="s:string" />
    <wsdl:part name="SOkptn" type="s:string" />
    <wsdl:part name="LastTransDate" type="s:string" />
    <wsdl:part name="BranchCode" type="s:string" />
    <wsdl:part name="SiteCode" type="s:string" />
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getSOKPTNHttpGetOut">
    <wsdl:part name="Body" element="tns:KPTrans" />
  </wsdl:message>
  <wsdl:message name="getSOCancelKPTNHttpGetIn">
    <wsdl:part name="Type" type="s:string" />
    <wsdl:part name="SOkptn" type="s:string" />
    <wsdl:part name="LastTransDate" type="s:string" />
    <wsdl:part name="BranchCode" type="s:string" />
    <wsdl:part name="SiteCode" type="s:string" />
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getSOCancelKPTNHttpGetOut">
    <wsdl:part name="Body" element="tns:KPTrans" />
  </wsdl:message>
  <wsdl:message name="getPOKPTNHttpGetIn">
    <wsdl:part name="Type" type="s:string" />
    <wsdl:part name="POkptn" type="s:string" />
    <wsdl:part name="LastTransDate" type="s:string" />
    <wsdl:part name="BranchCode" type="s:string" />
    <wsdl:part name="SiteCode" type="s:string" />
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPOKPTNHttpGetOut">
    <wsdl:part name="Body" element="tns:KPTrans" />
  </wsdl:message>
  <wsdl:message name="getPOcancelKPTNHttpGetIn">
    <wsdl:part name="Type" type="s:string" />
    <wsdl:part name="POcancelkptn" type="s:string" />
    <wsdl:part name="LastTransDate" type="s:string" />
    <wsdl:part name="BranchCode" type="s:string" />
    <wsdl:part name="SiteCode" type="s:string" />
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPOcancelKPTNHttpGetOut">
    <wsdl:part name="Body" element="tns:KPTrans" />
  </wsdl:message>
  <wsdl:message name="checkIfCanConnectHttpGetIn">
    <wsdl:part name="database" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkIfCanConnectHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getDomesticSOHttpPostIn">
    <wsdl:part name="TransDate" type="s:string" />
    <wsdl:part name="BranchCode" type="s:string" />
    <wsdl:part name="SiteCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDomesticSOHttpPostOut">
    <wsdl:part name="Body" element="tns:KPTrans" />
  </wsdl:message>
  <wsdl:message name="getDomesticPOHttpPostIn">
    <wsdl:part name="TransDate" type="s:string" />
    <wsdl:part name="BranchCode" type="s:string" />
    <wsdl:part name="SiteCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDomesticPOHttpPostOut">
    <wsdl:part name="Body" element="tns:KPTrans" />
  </wsdl:message>
  <wsdl:message name="getSOKPTNHttpPostIn">
    <wsdl:part name="Type" type="s:string" />
    <wsdl:part name="SOkptn" type="s:string" />
    <wsdl:part name="LastTransDate" type="s:string" />
    <wsdl:part name="BranchCode" type="s:string" />
    <wsdl:part name="SiteCode" type="s:string" />
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getSOKPTNHttpPostOut">
    <wsdl:part name="Body" element="tns:KPTrans" />
  </wsdl:message>
  <wsdl:message name="getSOCancelKPTNHttpPostIn">
    <wsdl:part name="Type" type="s:string" />
    <wsdl:part name="SOkptn" type="s:string" />
    <wsdl:part name="LastTransDate" type="s:string" />
    <wsdl:part name="BranchCode" type="s:string" />
    <wsdl:part name="SiteCode" type="s:string" />
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getSOCancelKPTNHttpPostOut">
    <wsdl:part name="Body" element="tns:KPTrans" />
  </wsdl:message>
  <wsdl:message name="getPOKPTNHttpPostIn">
    <wsdl:part name="Type" type="s:string" />
    <wsdl:part name="POkptn" type="s:string" />
    <wsdl:part name="LastTransDate" type="s:string" />
    <wsdl:part name="BranchCode" type="s:string" />
    <wsdl:part name="SiteCode" type="s:string" />
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPOKPTNHttpPostOut">
    <wsdl:part name="Body" element="tns:KPTrans" />
  </wsdl:message>
  <wsdl:message name="getPOcancelKPTNHttpPostIn">
    <wsdl:part name="Type" type="s:string" />
    <wsdl:part name="POcancelkptn" type="s:string" />
    <wsdl:part name="LastTransDate" type="s:string" />
    <wsdl:part name="BranchCode" type="s:string" />
    <wsdl:part name="SiteCode" type="s:string" />
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPOcancelKPTNHttpPostOut">
    <wsdl:part name="Body" element="tns:KPTrans" />
  </wsdl:message>
  <wsdl:message name="checkIfCanConnectHttpPostIn">
    <wsdl:part name="database" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkIfCanConnectHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="MLHUILLIERSoap">
    <wsdl:operation name="getDomesticSO">
      <wsdl:input message="tns:getDomesticSOSoapIn" />
      <wsdl:output message="tns:getDomesticSOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDomesticPO">
      <wsdl:input message="tns:getDomesticPOSoapIn" />
      <wsdl:output message="tns:getDomesticPOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSOKPTN">
      <wsdl:input message="tns:getSOKPTNSoapIn" />
      <wsdl:output message="tns:getSOKPTNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSOCancelKPTN">
      <wsdl:input message="tns:getSOCancelKPTNSoapIn" />
      <wsdl:output message="tns:getSOCancelKPTNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPOKPTN">
      <wsdl:input message="tns:getPOKPTNSoapIn" />
      <wsdl:output message="tns:getPOKPTNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPOcancelKPTN">
      <wsdl:input message="tns:getPOcancelKPTNSoapIn" />
      <wsdl:output message="tns:getPOcancelKPTNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkIfCanConnect">
      <wsdl:input message="tns:checkIfCanConnectSoapIn" />
      <wsdl:output message="tns:checkIfCanConnectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MLHUILLIERHttpGet">
    <wsdl:operation name="getDomesticSO">
      <wsdl:input message="tns:getDomesticSOHttpGetIn" />
      <wsdl:output message="tns:getDomesticSOHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getDomesticPO">
      <wsdl:input message="tns:getDomesticPOHttpGetIn" />
      <wsdl:output message="tns:getDomesticPOHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getSOKPTN">
      <wsdl:input message="tns:getSOKPTNHttpGetIn" />
      <wsdl:output message="tns:getSOKPTNHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getSOCancelKPTN">
      <wsdl:input message="tns:getSOCancelKPTNHttpGetIn" />
      <wsdl:output message="tns:getSOCancelKPTNHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPOKPTN">
      <wsdl:input message="tns:getPOKPTNHttpGetIn" />
      <wsdl:output message="tns:getPOKPTNHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPOcancelKPTN">
      <wsdl:input message="tns:getPOcancelKPTNHttpGetIn" />
      <wsdl:output message="tns:getPOcancelKPTNHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="checkIfCanConnect">
      <wsdl:input message="tns:checkIfCanConnectHttpGetIn" />
      <wsdl:output message="tns:checkIfCanConnectHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MLHUILLIERHttpPost">
    <wsdl:operation name="getDomesticSO">
      <wsdl:input message="tns:getDomesticSOHttpPostIn" />
      <wsdl:output message="tns:getDomesticSOHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getDomesticPO">
      <wsdl:input message="tns:getDomesticPOHttpPostIn" />
      <wsdl:output message="tns:getDomesticPOHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getSOKPTN">
      <wsdl:input message="tns:getSOKPTNHttpPostIn" />
      <wsdl:output message="tns:getSOKPTNHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getSOCancelKPTN">
      <wsdl:input message="tns:getSOCancelKPTNHttpPostIn" />
      <wsdl:output message="tns:getSOCancelKPTNHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPOKPTN">
      <wsdl:input message="tns:getPOKPTNHttpPostIn" />
      <wsdl:output message="tns:getPOKPTNHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPOcancelKPTN">
      <wsdl:input message="tns:getPOcancelKPTNHttpPostIn" />
      <wsdl:output message="tns:getPOcancelKPTNHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="checkIfCanConnect">
      <wsdl:input message="tns:checkIfCanConnectHttpPostIn" />
      <wsdl:output message="tns:checkIfCanConnectHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MLHUILLIERSoap" type="tns:MLHUILLIERSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDomesticSO">
      <soap:operation soapAction="http://tempuri.org/getDomesticSO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomesticPO">
      <soap:operation soapAction="http://tempuri.org/getDomesticPO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSOKPTN">
      <soap:operation soapAction="http://tempuri.org/getSOKPTN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSOCancelKPTN">
      <soap:operation soapAction="http://tempuri.org/getSOCancelKPTN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPOKPTN">
      <soap:operation soapAction="http://tempuri.org/getPOKPTN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPOcancelKPTN">
      <soap:operation soapAction="http://tempuri.org/getPOcancelKPTN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkIfCanConnect">
      <soap:operation soapAction="http://tempuri.org/checkIfCanConnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MLHUILLIERSoap12" type="tns:MLHUILLIERSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDomesticSO">
      <soap12:operation soapAction="http://tempuri.org/getDomesticSO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomesticPO">
      <soap12:operation soapAction="http://tempuri.org/getDomesticPO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSOKPTN">
      <soap12:operation soapAction="http://tempuri.org/getSOKPTN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSOCancelKPTN">
      <soap12:operation soapAction="http://tempuri.org/getSOCancelKPTN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPOKPTN">
      <soap12:operation soapAction="http://tempuri.org/getPOKPTN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPOcancelKPTN">
      <soap12:operation soapAction="http://tempuri.org/getPOcancelKPTN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkIfCanConnect">
      <soap12:operation soapAction="http://tempuri.org/checkIfCanConnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MLHUILLIERHttpGet" type="tns:MLHUILLIERHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getDomesticSO">
      <http:operation location="/getDomesticSO" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomesticPO">
      <http:operation location="/getDomesticPO" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSOKPTN">
      <http:operation location="/getSOKPTN" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSOCancelKPTN">
      <http:operation location="/getSOCancelKPTN" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPOKPTN">
      <http:operation location="/getPOKPTN" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPOcancelKPTN">
      <http:operation location="/getPOcancelKPTN" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkIfCanConnect">
      <http:operation location="/checkIfCanConnect" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MLHUILLIERHttpPost" type="tns:MLHUILLIERHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getDomesticSO">
      <http:operation location="/getDomesticSO" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomesticPO">
      <http:operation location="/getDomesticPO" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSOKPTN">
      <http:operation location="/getSOKPTN" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSOCancelKPTN">
      <http:operation location="/getSOCancelKPTN" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPOKPTN">
      <http:operation location="/getPOKPTN" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPOcancelKPTN">
      <http:operation location="/getPOcancelKPTN" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkIfCanConnect">
      <http:operation location="/checkIfCanConnect" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MLHUILLIER">
    <wsdl:port name="MLHUILLIERSoap" binding="tns:MLHUILLIERSoap">
      <soap:address location="http://localhost:51746/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="MLHUILLIERSoap12" binding="tns:MLHUILLIERSoap12">
      <soap12:address location="http://localhost:51746/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="MLHUILLIERHttpGet" binding="tns:MLHUILLIERHttpGet">
      <http:address location="http://localhost:51746/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="MLHUILLIERHttpPost" binding="tns:MLHUILLIERHttpPost">
      <http:address location="http://localhost:51746/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>